<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:include filename="mob_rob_macro_urdf.xacro"/>
    <material name="silver">
        <color rgba="0.75 0.75 0.75 1"/>
    </material>
    <xacro:macro name="mob_rob">
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.4 0.3 0.3"/>
            </geometry>
            <material name="red">
                <color rgba="1.0 0 0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.4 0.3 0.3"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="1.0"/>
            <inertia ixx="0.015" iyy="0.0208" izz="0.0208" ixy="0" ixz="0" iyz="0"/>
        </inertial>
    </link>

    <xacro:wheel_link prefix = "r_left" length = "0.05" radius = "0.1"/>

    <joint name="r_left_wheel_joint" type="continuous">
        <axis xyz="0 0 1"/>
        <parent link="base_link"/>
        <child link="r_left_wheel"/>
        <origin rpy="-1.5708 0 0" xyz="-0.15 0.175 -0.085"/>
    </joint>

    <xacro:wheel_link prefix = "r_right" length = "0.05" radius = "0.1"/>


    <joint name="r_right_wheel_joint" type="continuous">
        <axis xyz="0 0 1"/>
        <parent link="base_link"/>
        <child link="r_right_wheel"/>
        <origin rpy="-1.5708 0 0" xyz="-0.15 -0.175 -0.085"/>
    </joint>

    <xacro:wheel_link prefix = "f_left" length = "0.05" radius = "0.1"/>

    <joint name="f_left_wheel_joint" type="continuous">
        <axis xyz="0 0 1"/>
        <parent link="base_link"/>
        <child link="f_left_wheel"/>
        <origin rpy="-1.5708 0 0" xyz="0.15 0.175 -0.085"/>
    </joint>

    <xacro:wheel_link prefix = "f_right" length = "0.05" radius = "0.1"/>


    <joint name="f_right_wheel_joint" type="continuous">
        <axis xyz="0 0 1"/>
        <parent link="base_link"/>
        <child link="f_right_wheel"/>
        <origin rpy="-1.5708 0 0" xyz="0.15 -0.175 -0.085"/>
    </joint>
    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.05 0.05 0.05"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>
    <joint name="camera_joint" type="fixed">
        <axis xyz="0 1 0"/>
        <parent link="base_link"/>
        <child link="camera_link"/>
        <origin xyz="0.2 0 0.15" rpy="0 0 0"/>
    </joint>
    
    <link name="laser_link">
    <visual>
        <geometry>
            <cylinder length="0.05" radius="0.1"/>
        </geometry>
        <material name="silver"/>
    </visual>
    <collision>
        <geometry>
            <cylinder length="0.05" radius="0.1"/>
        </geometry>
    </collision>
    <inertial>
        <mass value="0.1"/>
        <inertia ixx="0.00027" iyy="0.00027" izz="0.0005" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    </link>

    <joint name="laser_joint" type="fixed">
        <axis xyz="0 0 1"/>
        <parent link="base_link"/>
        <child link="laser_link"/>
        <origin xyz="0 0 0.175" rpy="0 0 0"/>
    </joint>
    </xacro:macro>
</robot>